# Defaults : 
# (docker) DATABASE_URL="postgresql://postgres:postgres@db:5432/biomarker_db?schema=public"
# (local) DATABASE_URL="postgresql://postgres:postgres@localhost:5432/biomarker_db?schema=public"
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
